<?xml version="1.0"?>
<appSettings>
  <add key="DPLAKey" value="9aa7341d391a146141e92973b68edbce"/>
  <add key="AzureAuthKey" value="4H2F8e2Olza91nlWIQnpbWMknFaA+O+2hpd7zJsTflcFj/MXai3beKj7W/GHZKOhzititnHLfQjNBWK5xQYznQ=="/>
  <add key="AzureEndpoint" value="https://imagesearch1.documents.azure.com:443/"/>
</appSettings>
